* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Oxygen', sans-serif;
  color: #E1F5FE;
  background-color: #283593 ;
}

.container{
  margin-top: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

form{
  padding: 4px;
}

label {
  font-size: 200%;
}

.search{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search input{
  padding: 4px;
  margin-bottom: 4px;
  font-size: 110%;
  width: auto;
  border-radius: 5px;
}

.search-history{
  font-size: 200%;
  text-align: center;
}

.search-history-li{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.history-button{
  font-size: 90%;
  width: auto;
  padding: 5px;
  border: 2px solid #E1F5FE;
  box-shadow: 0 1px 7px 1px black;
  cursor: pointer;
  border-radius: 5px;
  color: #283593;
  background-color: #E1F5FE;
}



.custom-button{
  color: #283593;
  box-shadow: 0 1px 7px 1px black;

  cursor: pointer;
  background-color: #E1F5FE;
  border-radius: 6px;
  border: 2px solid #E1F5FE;
  padding: 4px;
  margin-bottom: 4px;
  font-size: 110%;
  width: auto;
}

#weatherSection{
  background-color: #1565C0;
}

.weather-container{
  width: 60vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border: 2px solid #E1F5FE;
  box-shadow: 0 1px 7px 1px #E1F5FE;
  border-radius: 5px;
}

.weather-div{
  text-align: center;
}

.aside-style {
display: flex;
justify-content: start;
align-items: center;
flex-direction: column;
width: 20vw;
height: 50vh;
}

.forcast-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #1565C0;
}

.forcast {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 4vh;
  width: auto;
  height: auto;
  margin: 15px;
  font-size: 105%;
  box-shadow: 0 1px 7px 1px black;
  border-radius: 5px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .forcast{
    margin-bottom: 4vh;
    width: auto;
    height: auto;
  }
}
.city{
  margin-top: 10px;
}
.city-name{
  font-size: 200%; 
  border: 1px solid black;
  box-shadow: 0 1px 7px 1px black;
  padding: 10px;
  border-radius: 5px;
}

.currentWeather{
  border: 1px solid black;
  margin-top: 4vh;
  margin-bottom: 4vh;
  width: auto;
  height: auto;
  padding: 10px;
  font-size: 110%;
  box-shadow: 0 1px 7px 1px black;
  border-radius: 5px;
}

@media screen and (min-width: 320px) and (max-width: 768px){
  .currentWeather{
    margin-top: 20vh;
    margin-bottom: 4vh;
    width: auto;
    height: auto;
  }
}

@media screen and (min-width: 320px) and (max-width:768px){
  .container{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
  }

  .aside-style{
    width: auto;
    height: auto;
  }

  .search-history{
    display: flex;
    flex-direction: column;
  }

  .weather-container{
    width: 60vw;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .city{
    margin: auto;
  }

  .city-name{
    font-size: 200%;
    
    margin-bottom: -15vh;
  }

  .forcast-container{
    display: flex;
    flex-direction: column;
  }
  
  
}